.jf-card {
  max-width: 40rem;
  background: var(--white);
  transition: all 1s;
  &__link {
    color: var(--dark);
    display: flex;
    align-items: center;
    transition: opacity .3s;
    &:visited, &:active {
      color: var(--dark);
    }
    &:hover {
      text-decoration: none;
      opacity: .7;
      color: var(--dark);
    }
  }
  &__id {
    padding: 0 .5rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__content {
    overflow: hidden;
    padding: 0 1rem;
  }
  &__title {
    font-size: 1.25rem;
    font-weight: bold;
    white-space: nowrap;
  }
  &__text {
    font-size: .825rem;
    &--secondary {
      color: var(--gray);
      display: none;
      @include media-breakpoint-up(md) {
        display: inline;
      }
    }
    &--primary {
      color: var(--dark);
      font-weight: bold;
      display: block;
      white-space: nowrap;
      @include media-breakpoint-up(md) {
        white-space: wrap;
        display: inline;
      }
    }
  }
  &__tag-holder {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }
}
